body{
 background: 
  radial-gradient(at 0% 0%, rgba(211, 163, 255, 0.5) 0px, transparent 50%),
  radial-gradient(at 100% 0%, rgba(181, 209, 246, 0.5) 0px, transparent 50%),
  white;
    position: relative;
    
}
body::before {
    content: "";
    position: fixed;
    inset: 0;
    z-index: -1;

 background: 
  radial-gradient(at 0% 0%, rgba(211, 163, 255, 0.5) 0px, transparent 50%),
  radial-gradient(at 100% 0%, rgba(181, 209, 246, 0.5) 0px, transparent 50%),
  white;


    background-repeat: no-repeat;
}
html, body {
    height: 100%;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#pagewrapper{
    padding:2rem;
}
#logo{
    display:flex;
    justify-content:space-between;
    align-items:center;
}
.logoimg{
    width:4rem;
    height:4rem;
    border-radius:50%;
    cursor:pointer;
}
#logotxt{
    font-family:sans-serif;
    font-weight:1000;
    cursor:pointer;
    font-size:1rem;
}
@media only screen and (max-width:1025px){
    .logoimg{
        width:4rem;
        height:4rem;
        border-radius:20px;
        border-radius:50%;
    }
    #logotxt{
        font-size:1.2rem;
        font-family:Sans-serif;
    }
}
@media only screen and (max-width:540px){
    .logoimg{
        width:3rem;
        height:3rem;
        border-radius:20px;
        border-radius:50%;
    }
    #logotxt{
        font-size:1rem;
        font-family:Sans-serif;
    }
}
@media only screen and (max-width:500px){
    .logoimg{
        width:3rem;
        height:3rem;
        border-radius:20px;
        border-radius:50%;
    }
    #logotxt{
        font-size:0.9rem;
    }
}
@media only screen and (max-width:415px){
    .logoimg{
        width:3rem;
        height:3rem;
        border-radius:20px;
        border-radius:50%;
    }
    #logotxt{
        font-size:0.7rem;
    }
}
@media only screen and (max-width:395px){
    .logoimg{
        width:2.8rem;
        height:2.8rem;
        border-radius:20px;
        border-radius:50%;
    }
    #logotxt{
        font-size:0.5rem;
    }
}
@media only screen and (max-width:360px){
    .logoimg{
        width:1.9rem;
        height:1.9rem;
        border-radius:20px;
        border-radius:50%;
    }
    #logotxt{
        font-size:0.4rem;
    }
}
#navbar{
    display:flex;
    justify-content:space-between;
    align-items:center;
    background-color:white;
    width:80%;
    padding:1rem;
    border-radius:70px;
    left:50%;
    transform:translateX(-50%);
    position:fixed;
   
}

.option{
    text-decoration:none;
    color:grey;
    font-family:sans-serif;
    font-size:0.9rem;
    font-weight:1000;
}
@media only screen and (max-width:1390px){
    .option{
        display:none;
    }
}
.optionbox{
    padding:0.5rem;
    cursor:pointer;
    transition:0.3s;
}
.optionbox:hover{
    border:2ps solid black;
    box-shadow:0 0 30px rgba(108, 92, 231, 0.5);

}
#loginbtn{
    background: linear-gradient(135deg, #4F46E5, #7C3AED);
    color: #ffffff;
    font-family:sans-serif;
    width:9rem;
    height:3rem;
    border:none;
    border-radius:30px;
    font-size:1rem;
    cursor:pointer;
}
@media only screen and (max-width:1390px){
    #loginbtn{
        display:none;
    }
}
#loginbtn2{
    background: linear-gradient(to right, #1d4ed8, #9333ea, #db2777);
    color: #ffffff;
    font-family:sans-serif;
    width:9rem;
    height:3rem;
    border:none;
    border-radius:30px;
    font-size:1rem;
    cursor:pointer;
    
}
#menu{
    display:none;
}
@media only screen and (max-width:1390px){
    #menu{
        display:block;
    }
}
#navlist{
    list-style:none
}
.listoptions{
    text-decoration:none;
    color:grey;
    font-family:sans-serif;
    font-size:1.8rem;
    gap:0.5rem;
    display:flex;
    align-items:center;
    justify-content:center;
}
#navlistdiv{
    background-color:white;
    width:80%;
    display:flex;
    align-items:center;
    justify-content:center;
    border-radius:30px;
    display:none;
    position:fixed;
    top:7.2rem;
    left:50%;
    transform:translateX(-50%);
    border:2px solid black;
    z-index:1000;
    text-align:center;
}
#crossbtn{
    display:none;
}
#coursesoption{
    background: linear-gradient(to bottom right, #9333EA, #2563EB);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
#container1{
    padding:10rem;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
}
#heading{
    font-family:sans-serif;
    font-size:4rem;
    font-weight:1000;
}
@media only screen and (min-width:340px) and (max-width:1280px){

    #container1{
        padding:6rem 2rem;
        text-align:center;
    }

    #heading{
        font-size:clamp(1.8rem, 5vw, 3.5rem);
        white-space:nowrap;
    }

    #container1 p{
        font-size:clamp(0.6rem, 2vw, 1rem);
        white-space:nowrap;
    }
}
#headingspan{
    background: linear-gradient(to right, #2563eb, #9333ea, #e11d48);
-webkit-background-clip: text;
background-clip: text;
-webkit-text-fill-color: transparent;
}
p{
    font-size:1.2rem;
}
.divscontainer{
    display:flex;
    align-items:center;
    justify-content:center;
    flex-direction:row;
    gap:3rem;
}
@media only screen and (max-width:1280px){
    .divscontainer{
        flex-direction:column;
        align-items:center;
        justify-content:center;
    }
}
.div{
    background: linear-gradient(135deg, #dbe3fc 0%, #ebe7fc 50%, #ffffff 100%);
    padding:2rem;
    width:25%;
    border-radius:30px;
}
@media only screen and (max-width:1280px){
    .div{
        width:90%;
    }
}
.divdesc{
    font-size:1rem;
    color:grey;
}
.divimg{
    width:100%;
    border-radius:30px;
}
.readmorebtn{
    background-color:white;
    color:black;
    width:none;
    border-radius:50px;
    display:flex;
    align-items:center;
    justify-content:center;
    width:100%;
    height:3rem;
    cursor:pointer;
    border:none;
}
#section4{
    background-color:white;
    padding:10rem;
}
@media only screen and (max-width:1280px){
    #section4{
        padding:2rem;
    }
}
#container4{
    display:flex;
    align-items:center;
    justify-content:space-between;
    flex-direction:row;
}
@media only screen and (max-width:1280px){
    #container4{
        flex-direction:column;
        align-items:flex-start;
        justify-content:flex-start;
    }
}
#logoandtext{
    display:flex;
    flex-direction:row;
}
#logopara{
    font-size:1rem;
}

#quicklinkslist{
    list-style:none;
}
.listitem{
    text-decoration:none;
    color:grey;
    font-family:poppins;
}
#programslist{
    list-style:none;
}
.fontsize{
    font-size:1rem;
}
#programs{
    margin-top:-75px;
}
@media only screen and (max-width:1280px){
    #programs{
        margin-top:0px;
    }
}
#contactuslist{
    list-style:none;
}
#contact{
    margin-top:-90px;
}
@media only screen and (max-width:1280px){
    #contact{
        margin-top:0px;
    }
}
#quicklinks{
    display:flex;
    align-items:flex-start;
    justify-content:flex-start;
}
#logotext{
    display:flex;
    align-items:center;
    justify-content:center;
}
#socialmedia{
    display:flex;
    align-items:center;
    justify-content:flex-start;
    flex-direction:row;

}
.socialmediabutton{
    background-color:white;
    border:2px solid black;
    display:flex;
    align-items:center;
    justify-content:center;
    border-radius:50%;
    height:4rem;
    width:4rem;
    font-size:2rem;
    margin-right:20px;
    cursor:pointer;
}
@media only screen and (max-width:540px){
    .socialmediabutton{
        height:2rem;
        width:2rem;
        font-size:1rem;

    }
}
@media only screen and (max-width:345px){
    .socialmediabutton{
        height:1.5rem;
        width:1.5rem;
        font-size:0.9rem;

    }
}
#socialmedia{
    display:flex;
    align-items:center;
    justify-content:flex-start;
    flex-direction:row;
    margin-top:20px;
    margin-left:35px;
}
.socialmediabutton{
    background-color:white;
    border:2px solid black;
    display:flex;
    align-items:center;
    justify-content:center;
    border-radius:50%;
    height:4rem;
    width:4rem;
    font-size:2rem;
    margin-right:20px;
    cursor:pointer;
}
@media only screen and (max-width:540px){
    .socialmediabutton{
        height:2rem;
        width:2rem;
        font-size:1rem;

    }
}
@media only screen and (max-width:345px){
    .socialmediabutton{
        height:1.5rem;
        width:1.5rem;
        font-size:0.9rem;

    }
}

/* MODAL */
#modal {
    display: none;
    position: fixed;
    z-index: 999;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.6);
    top: 0;
    left: 0;
}

#modal-content {
    background: white;
    width: 50%;
    max-height: 80vh;
    overflow-y: auto;
    padding: 25px;
    border-radius: 10px;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#close-btn {
    position: absolute;
    right: 15px;
    top: 10px;
    font-size: 28px;
    cursor: pointer;
}

/* content */
#modal-body h2 {
    margin-bottom: 10px;
}

#modal-body p {
    margin-bottom: 10px;
}

#modal-body ul {
    padding-left: 20px;
}