body{
 background: 
  radial-gradient(at 0% 0%, rgba(211, 163, 255, 0.5) 0px, transparent 50%),
  radial-gradient(at 100% 0%, rgba(181, 209, 246, 0.5) 0px, transparent 50%),
  white;
    position: relative;
    
}
body::before {
    content: "";
    position: fixed;
    inset: 0;
    z-index: -1;

 background: 
  radial-gradient(at 0% 0%, rgba(211, 163, 255, 0.5) 0px, transparent 50%),
  radial-gradient(at 100% 0%, rgba(181, 209, 246, 0.5) 0px, transparent 50%),
  white;


    background-repeat: no-repeat;
}
html, body {
    height: 100%;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#pagewrapper{
    padding:2rem;
}
#logo{
    display:flex;
    justify-content:space-between;
    align-items:center;
}
.logoimg{
    width:4rem;
    height:4rem;
    border-radius:50%;
    cursor:pointer;
}
#logotxt{
    font-family:sans-serif;
    font-weight:1000;
    cursor:pointer;
    font-size:1rem;
}
@media only screen and (max-width:1025px){
    .logoimg{
        width:4rem;
        height:4rem;
        border-radius:20px;
        border-radius:50%;
    }
    #logotxt{
        font-size:1.2rem;
        font-family:Sans-serif;
    }
}
@media only screen and (max-width:540px){
    .logoimg{
        width:3rem;
        height:3rem;
        border-radius:20px;
        border-radius:50%;
    }
    #logotxt{
        font-size:1rem;
        font-family:Sans-serif;
    }
}
@media only screen and (max-width:500px){
    .logoimg{
        width:3rem;
        height:3rem;
        border-radius:20px;
        border-radius:50%;
    }
    #logotxt{
        font-size:0.9rem;
    }
}
@media only screen and (max-width:415px){
    .logoimg{
        width:2.5rem;
        height:2.5rem;
        border-radius:20px;
        border-radius:50%;
    }
    #logotxt{
        font-size:0.6rem;
    }
}
@media only screen and (max-width:395px){
    .logoimg{
        width:2rem;
        height:2rem;
        border-radius:20px;
        border-radius:50%;
    }
    #logotxt{
        font-size:0.4rem;
    }
}
@media only screen and (max-width:360px){
    .logoimg{
        width:2.5rem;
        height:2.5rem;
        border-radius:20px;
        border-radius:50%;
    }
    #logotxt{
        font-size:0.4rem;
    }
}
#navbar{
    display:flex;
    justify-content:space-between;
    align-items:center;
    background-color:white;
    width:80%;
    padding:1rem;
    border-radius:70px;
    left:50%;
    transform:translateX(-50%);
    position:fixed;
   
}

.option{
    text-decoration:none;
    color:grey;
    font-family:sans-serif;
    font-size:0.9rem;
    font-weight:1000;
}
@media only screen and (max-width:1390px){
    .option{
        display:none;
    }
}
.optionbox{
    padding:0.5rem;
    cursor:pointer;
    transition:0.3s;
}
.optionbox:hover{
    border:2ps solid black;
    box-shadow:0 0 30px rgba(108, 92, 231, 0.5);

}
#loginbtn{
    background: linear-gradient(135deg, #4F46E5, #7C3AED);
    color: #ffffff;
    font-family:sans-serif;
    width:9rem;
    height:3rem;
    border:none;
    border-radius:30px;
    font-size:1rem;
    cursor:pointer;
}
@media only screen and (max-width:1390px){
    #loginbtn{
        display:none;
    }
}
#loginbtn2{
    background: linear-gradient(to right, #1d4ed8, #9333ea, #db2777);
    color: #ffffff;
    font-family:sans-serif;
    width:9rem;
    height:3rem;
    border:none;
    border-radius:30px;
    font-size:1rem;
    cursor:pointer;
    
}
#menu{
    display:none;
}
@media only screen and (max-width:1390px){
    #menu{
        display:block;
    }
}
#navlist{
    list-style:none
}
.listoptions{
    text-decoration:none;
    color:grey;
    font-family:sans-serif;
    font-size:1.8rem;
    gap:0.5rem;
    display:flex;
    align-items:center;
    justify-content:center;
}
#navlistdiv{
    background-color:white;
    width:80%;
    display:flex;
    align-items:center;
    justify-content:center;
    border-radius:30px;
    display:none;
    position:fixed;
    top:7.2rem;
    left:50%;
    transform:translateX(-50%);
    border:2px solid black;
    z-index:1000;
    text-align:center;
}
#crossbtn{
    display:none;
}
#musicproductionoption{
    background: linear-gradient(to bottom right, #9333EA, #2563EB);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
#container1{
    padding:10rem;
    display:flex;
    align-items:center;
    justify-content:center;
    flex-direction:column;
}

.heading{
    font-size:5rem;
    font-weight:1000;
}

@media only screen and (min-width:340px) and (max-width:1280px){

    #container1{
        padding:6rem 2rem;
        text-align:center;
    }

    .heading{
        font-size:clamp(1.8rem, 5vw, 3.5rem);
        white-space:nowrap;
    }

    #container1 p{
        font-size:clamp(0.7rem, 2vw, 1rem);
        white-space:nowrap;
    }

    #container3 p{
        font-size:clamp(0.7rem, 2vw, 1rem);
        white-space:nowrap;
    }
}
#headingspan{
    background: linear-gradient(to right, #1d4ed8, #9333ea, #db2777);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}
#meetingbtn{
    background: linear-gradient(to right, #1d4ed8, #9333ea, #db2777);
    height:5rem;
    width:15rem;
    border-radius:50px;
    font-size:19px;
    color:white;
    border:none;
    font-weight:1000;
    cursor:pointer;
    margin-top:20px;
}
#socialmedia{
    display:flex;
    align-items:center;
    justify-content:flex-start;
    flex-direction:row;
    margin-top:20px;
    margin-left:35px;
}
.socialmediabutton{
    background-color:white;
    border:2px solid black;
    display:flex;
    align-items:center;
    justify-content:center;
    border-radius:50%;
    height:4rem;
    width:4rem;
    font-size:2rem;
    margin-right:20px;
    cursor:pointer;
}
@media only screen and (max-width:540px){
    .socialmediabutton{
        height:2rem;
        width:2rem;
        font-size:1rem;

    }
}
@media only screen and (max-width:345px){
    .socialmediabutton{
        height:1.5rem;
        width:1.5rem;
        font-size:0.9rem;

    }
}
.cardlogo{
    height:3rem;
    width:3rem;
}
.div{
    background:radial-gradient(circle at top right, #fdf2f8 0%, #ffffff 50%, #fff9f0 100%);
    width:20%;
    border-radius:30px;
    border:2px solid black; 
    padding:2rem;
}
@media only screen and (max-width:1280px){
    .div{
        width:80%;
    }
}
.divscontainer{
    display:flex;
    align-items:center;
    justify-content:center;
    flex-direction:row;
    gap:2rem;
}
@media only screen and (max-width:890px){
    .divscontainer{
        flex-direction:column;
        display:flex;
        align-items:center;
        justify-content:center;
    }
}
.h1{
    font-size:1.5rem;
}
#heading2span{
    background: linear-gradient(to bottom right, #9333EA, #2563EB);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
#container3{
    padding:10rem;
    display:flex;
    align-items:center;
    justify-content:center;
    flex-direction:column;
}
#studiovideo{
    height:45rem;
    width:45rem;
    border-radius:30px;
    border:4px solid white;
}
@media only screen and (max-width:1280px){
    #studiovideo{
        height:20rem;
        width:20rem;
    }
}
.img{
    height:15rem;
    width:25rem;
    border-radius:30px;
    border:5px solid white;
}
@media only screen and (max-width:1280px){
    .img{
        height:12rem;
        width:20rem;
    }
}
.imgcontainer{
    display:flex;
    align-items:center;
    justify-content:center;
    flex-direction:row;
}
@media only screen and (max-width:1280px){
    .imgcontainer{
        flex-direction:column;
        margin-top:-100px;
    }
}
#images{
    display:flex;
    align-items:center;
    justify-content:center;
    flex-direction:column;
}
#section4{
    background-color:white;
    padding:10rem;
}
@media only screen and (max-width:1280px){
    #section4{
        padding:2rem;
    }
}
#container4{
    display:flex;
    align-items:center;
    justify-content:space-between;
    flex-direction:row;
}
@media only screen and (max-width:1280px){
    #container4{
        flex-direction:column;
        align-items:flex-start;
        justify-content:flex-start;
    }
}
#logoandtext{
    display:flex;
    flex-direction:row;
}
#logopara{
    font-size:1rem;
}

#quicklinkslist{
    list-style:none;
}
.listitem{
    text-decoration:none;
    color:grey;
    font-family:poppins;
}
#programslist{
    list-style:none;
}
.fontsize{
    font-size:1rem;
}
#programs{
    margin-top:-75px;
}
@media only screen and (max-width:1280px){
    #programs{
        margin-top:0px;
    }
}
#contactuslist{
    list-style:none;
}
#contact{
    margin-top:-90px;
}
@media only screen and (max-width:1280px){
    #contact{
        margin-top:0px;
    }
}
#quicklinks{
    display:flex;
    align-items:flex-start;
    justify-content:flex-start;
}
#logotext{
    display:flex;
    align-items:center;
    justify-content:center;
}